.app {
  background-color: #0f0f0f;
  min-height: 100vh;
  color: white;
}

.main-content {
  display: flex;
  margin-top: 56px;
}

.content-area {
  flex: 1;
  padding: 16px;
  margin-left: 240px;
}
